<div class="account-links">
	<ul>
		<li><a href="&mvt:global:secure_sessionurl;Store_Code=&mvta:store:code;&amp;Screen=ACED">Edit Account Info</a></li>
		<li><a href="&mvt:global:secure_sessionurl;Store_Code=&mvta:store:code;&amp;Screen=CEML">Change Email Address</a></li>
		<li><a href="&mvt:global:secure_sessionurl;Store_Code=&mvta:store:code;&amp;Screen=CPWD">Change Password</a></li>
		<li><a href="&mvt:global:secure_sessionurl;Store_Code=&mvta:store:code;&amp;Screen=ORDH">Customer Order History</a></li>
		<li><a href="&mvt:global:secure_sessionurl;Action=LOGO&amp;Screen=SFNT&amp;Store_Code=&mvta:global:Store_Code;">Log Out</a></li>
	</ul>
</div>