<div class="row">
	<mvt:if expr="l.settings:all_products:page_links:last_page GT 1">
		<div class="col-sm-12 text-center">
			<div class="paging">
				Page:&nbsp;
				<mvt:if expr="NOT l.settings:all_products:page_links:contains_first">
					<a href="&mvte:all_products:page_links:first_link;">1</a><span class="dots">&hellip;</span>
				</mvt:if>
				<mvt:foreach iterator="pages" array="all_products:page_links:pages">
					<mvt:if expr="l.settings:all_products:page_links:current_page EQ l.settings:pages:page_num">
						<span class="current">&mvte:pages:page_num;</span>
					<mvt:else>
						<a href="&mvte:pages:link;">&mvte:pages:page_num;</a>
					</mvt:if>
				</mvt:foreach>
				<mvt:if expr="NOT l.settings:all_products:page_links:contains_last">
					<span class="dots">&hellip;</span><a href="&mvte:all_products:page_links:last_link;">&mvte:all_products:page_links:last_page;</a>
				</mvt:if>
			</div>
		</div>
	</mvt:if>
</div>