<div class="row">
	<div class="col-md-12">
		<div class="item">
			<mvt:item name="readytheme" param="image('hero-image')" />
			<mvt:item name="readytheme" param="image('hero-image-mobile')" />
		</div>
	</div>
	<div class="container">
		<div class="col-md-12 text-center">
			<span class="breaker"></span>
			<div class="h3 uppercase"><mvt:item name="readytheme" param="banner( 'sfnt-brief-site-description' )" /></div>
			<div class="hr-narrow"></div>
			<p class="h4 merriweather italic">See what we offer</p>
			<span class="breaker"></span>
		</div>
	</div>
</div>
<div class="sfnt-featured-products">
	<mvt:item name="readytheme" param="productlisting( 'featured-products' )" />
</div>
<div class="container padded-container">
	<div class="row sfnt-secondary-featured-products">
		<mvt:item name="readytheme" param="productlisting( 'secondary-featured-products' )" />
	</div>
</div>
<!-- Promo box starts -->
<div class="promo">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<mvt:item name="readytheme" param="image('sfnt-promo-1')" />
				<span class="breaker visible-xs visible-sm"></span>
			</div>
			<div class="col-sm-6">
				<mvt:item name="readytheme" param="image('sfnt-promo-2')" />
			</div>
		</div>
	</div>
</div>
<!-- Promo box ends -->
<!-- About box starts -->
<div class="container padded-container">
	<div class="row">
		<div class="col-md-12 text-center">
			<span class="breaker"></span>
			<div class="h4 uppercase"><mvt:item name="readytheme" param="banner( 'sfnt-footer-text' )" /></div>
		</div>
	</div>
</div>